<%-include('../includes/head.ejs') %>
  </head>
  <body>
  <%-include('../includes/nav.ejs') %>
    <main>
      <h1>Cart</h1>
      <% if (products.length > 0) { %>
      <ul>
        <% products.forEach(p => { %>
        <li><p><%= p.productData.title %> ( qty: <%= p.qty %>) </p></li>
        <form action="/cart-delete-item" method="POST">
          <input type="hidden" value="<%= p.productData.id %>" name="productId">
          <button class ='btn' type="submit">Delete</button>
        </form>
        <% }) %>
      </ul>
      <% } else { %>
No Product in Cart
        <% } %>

    </main>

    <%-include('../includes/footer.ejs') %>

